/*
--- Basic Styling
*/

.checkout-body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  width: -webkit-fill-available;
}

/* Panel Body */
.panel-body {
  display: flex;
  flex-direction: column;
}

.checkout-title {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 40px;
  color: #2e2e2e;
}

/* Progress Bar */
.cart-bar {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}

.cart-bar img {
  max-width: 1200px;
}

/* Payment Method */
.payment-method {
  display: flex;
  margin-bottom: 60px;
  justify-content: space-between;
}

.method {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 122px;
  padding-top: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  justify-content: center;
  align-items: center;
}

.blue-border {
  border: 1px solid rgb(110, 178, 251);
}

.card-logos {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.card-logos img {
    padding: 5px;
    max-block-size: 45px;
}

.radio-input {
  margin-top: 20px;
}

input[type='radio'] {
  display: inline-block;
}


/* Input Fields */
.input-fields {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input-fields label {
  display: block;
  margin-bottom: 10px;
  color: #b4b4b4;
}

div[class*='payment-type'] {
  width: 382px;
  margin-top: 3px;
} 

.payment-type-2 {
 display: flex;
 flex-direction: column;
 align-self: center;
}

.apay-pref {
 flex-direction: column-reverse;
}

input[type='text'],
input[type='password'] {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding-right: 40px;
  padding-left: 16px;
  color: rgba(46, 46, 46, .8);
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  outline: none;
}

input[type='text']:focus,
input[type='password']:focus {
  border-color: rgb(119, 219, 119);
}

.small-inputs {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.small-inputs div {
  width: 182px;
}

.pay-btn {
    cursor: pointer;
    display: inline-block;
    max-height: 300px;
    width: 200px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
    transition-property: filter; 
    transition-duration: 0.25s; 
    filter: brightness(1);
}

.pay-btn:hover {
  border: 1px solid #E1E8EE;
  outline: none;
 }

 #parent {
  margin-left: 525px;
  margin-bottom: 50px;
  overflow: hidden;
  width: 250px;
  height: 60px;
 }

 #parent:hover {
  height: 360px;
 }

 .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
 }

 .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
 }

 .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
 }

 .close:hover,
 .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
 }